.link-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.generated-link-section{
  padding: 10px;
  background-color: var(--cor-fundo-claro);
  border-radius: 8px;
}

.link-copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.phone-input-container {
  width: 100%;
}

.phone-input {
  width: 100% !important;
  padding: 10px !important;
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
  font-size: 14px !important;
  box-sizing: border-box;
  transition: border 0.2s, box-shadow 0.2s;
}

.phone-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(37, 211, 102, 0.5);
  border-color: var(--cor-principal) !important;
}

.react-tel-input .selected-flag {
  border-right: 1px solid #ddd;
  padding-right: 8px;
}

.react-tel-input .form-control {
  padding-left: 52px !important;
  height: 40px;
  font-size: 14px;
}