/* Container Principal */
:root {
  --cor-principal:#25d366
}
*{
  padding: 0;
  margin: 0;
}

.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

/* Títulos */
.title {
  color: var(--cor-principal);
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}

.titulo-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Layout Principal */
.main-content {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  max-width: 450px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

